# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
/.svelte-kit/
/.vercel/
/build/
/dist/
/node_modules/
/messages/
/src/lib/paraglide/
/src/paraglide/
/storybook-static/
project_structure.md
.env*
.DS_Store
*.log
.firebase/
.idea/
.vscode/
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb
